<mat-card class="list">
  <div class="issues-header">
    <h3>My Issues</h3>
    <button
      class="issues-header-button"
      mat-raised-button
      color="accent"
      (click)="onMyAndMemberClick()"
    >My and member issues</button>
    <div class="organization">
      <mat-form-field class="organization-field">
        <input
          matInput
          placeholder="Enter organization"
          [formControl]="organization"
        >
      </mat-form-field>
      <button
        class="issues-header-button"
        mat-raised-button
        color="accent"
        [disabled]="!orgButtonEnabled"
        (click)="onOrgClick()"
      >Organization issues</button>
    </div>
  </div>

  <mat-card
    class="issue"
    *ngFor="let issue of issues"
  >
    <h4><a
        class="issue-link"
        [href]="issue.html_url"
        target="_blank"
      >{{issue.title}}</a></h4>
    <mat-card-subtitle>Repository: {{issue.repository.name}}</mat-card-subtitle>
    <mat-card-subtitle>{{issue.state}}</mat-card-subtitle>
  </mat-card>
</mat-card>
