<mat-card
  *ngIf="user"
  class="user"
>
  <img
    [src]="user.avatar_url"
    width="100"
    height="100"
  >
  <div>
    <mat-card-title>{{user.name || user.email || user.login}} <span
        *ngIf="isCurrentUser"
        class="my-profile"
      >(my profile)</span></mat-card-title>
    <mat-card-subtitle>{{user.bio}}</mat-card-subtitle>
    <mat-card-subtitle>Folowers: {{user.followers}}</mat-card-subtitle>
    <mat-card-subtitle>Repositories: {{user.public_repos}}</mat-card-subtitle>
  </div>
</mat-card>

<ng-container *ngIf="isCurrentUser">
  <ghb-issues></ghb-issues>
</ng-container>

<ghb-user-list
  *ngIf="followersResult"
  [users]="followersResult"
  [totalCount]="user.followers"
  [title]="followersTitle"
  (pageEvent)="onFollowersPageEvent($event)"
>
</ghb-user-list>

<div
  class="spinner"
  *ngIf="loadingFollowers"
>
  <mat-spinner></mat-spinner>
</div>

<ghb-repos-list
  *ngIf="reposResult"
  [repos]="reposResult"
  [totalCount]="user.public_repos"
  (pageEvent)="onReposPageEvent($event)"
>
</ghb-repos-list>

<div
  class="spinner"
  *ngIf="loadingRepos"
>
  <mat-spinner></mat-spinner>
</div>
