<mat-card class="list">
  <h3 *ngIf="title">{{title}}</h3>
  <mat-card
    class="user"
    *ngFor="let user of users"
    (click)="handleUserClick(user.login)"
  >
    <img
      width="48"
      height="48"
      [src]="user.avatar_url"
      (mouseenter)="onImgMouseEnter($event, user)"
      (mouseleave)="onImgMouseLeave($event, user)"
    >
    <h3>{{user.login}}</h3>
  </mat-card>

  <mat-paginator
    [length]="totalCount"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageEvent($event)"
  >
  </mat-paginator>
</mat-card>

<div
  *ngIf="showUserDetails"
  [ngStyle]="userDetailsPositionStyle"
  class="user-details"
>
<mat-card
*ngIf="userDetailsLoaded"
class="user"
>
<img
  [src]="userDetails.avatar_url"
  width="100"
  height="100"
>
<div>
  <mat-card-title>{{userDetails.name || userDetails.email || userDetails.login}} <span
      *ngIf="isCurrentUser"
      class="my-profile"
    >(my profile)</span></mat-card-title>
  <mat-card-subtitle>{{userDetails.bio}}</mat-card-subtitle>
  <mat-card-subtitle>Folowers: {{userDetails.followers}}</mat-card-subtitle>
  <mat-card-subtitle>Repositories: {{userDetails.public_repos}}</mat-card-subtitle>
</div>
</mat-card>
<mat-card>
  <mat-spinner *ngIf="!userDetailsLoaded"></mat-spinner>
</mat-card>
</div>
