<mat-card>
  <form
    class="search-form"
    [formGroup]="searchForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field class="search-field">
      <input
        #searchInput
        matInput
        placeholder="Enter location"
        formControlName="location"
      >
    </mat-form-field>
    <mat-form-field class="select-field">
      <mat-select
        placeholder="Sort By"
        formControlName="sortOrder"
        (selectionChange)="onSortOrderChange()"
      >
        <mat-option *ngFor="let sort of sortOptions" [value]="sort.value">
          {{sort.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
    >
      Search users
    </button>
  </form>


  <ghb-user-list
    *ngIf="searchResult"
    [users]="searchResult.items"
    [totalCount]="searchResult.total_count"
    (pageEvent)="onPageEvent($event)"
  >
  </ghb-user-list>
</mat-card>
